@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

:root {
  --primary: #EF3D25;
  --dark: #333;
  --white: #fff;
  --gradient: linear-gradient(
    90deg,
    #9451A0 0%,
    #EA176A 25%,
    #EF3D25 50%,
    #F78534 75%,
    #FEBB19 100%
  );
}

html {
  font-size: 16px;
}

/* SCROLLBAR Customizations */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: var(--primary);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
h1 {
  font-size: 1.75rem; /* 28px */
}
h2 {
  font-size: 1.5rem; /* 24px */
}
h3 {
  font-size: 1.125rem; /* 18px */
}
h4 {
  font-size: 1rem; /* 16px */
}
h5 {
  font-size: 0.875rem; /* 14px */
}
h6 {
  font-size: 0.75rem; /* 12px */
}
p {
  font-size: 0.875rem;
}
ul {
  list-style: none;
  padding: 0;
}

.bodyMainWrapper{
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
