@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
}

:root {
  --primary: #f6f6f4;
  --dark: #333;
  --white: #fff;
  --gradient: linear-gradient(
    90deg,
    #9451a0 0%,
    #ea176a 25%,
    #ef3d25 50%,
    #f78534 75%,
    #febb19 100%
  );
}

html {
  font-size: 16px;
}

/* SCROLLBAR Customizations */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0);
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  background-color: var(--primary);
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
}
h1 {
  font-size: 1.75rem; /* 28px */
}
h2 {
  font-size: 1.5rem; /* 24px */
}
h3 {
  font-size: 1.125rem; /* 18px */
}
h4 {
  font-size: 1rem; /* 16px */
}
h5 {
  font-size: 0.875rem; /* 14px */
}
h6 {
  font-size: 0.75rem; /* 12px */
}
p {
  font-size: 0.875rem;
}
ul {
  list-style: none;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

.bodyMainWrapper {
  display: flex;
  align-items: flex-start;
  justify-self: center;
  gap: 2rem;
}

.childrenMainWrapper {
  width: 100%;
  height: calc(100dvh - 17px);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 24px 0px 0px 0px;
  margin-top: 17px;
  overflow: scroll;
}

@media screen and (max-width: 991px) {
  .bodyMainWrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .childrenMainWrapper {
    width: 100%;
    height: calc(100dvh - 100px);
    border: 1px solid rgb(243, 243, 243);
    border-radius: 24px 0px 0px 0px;
    margin-top: 17px;
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}
