.wrapper{
    width:400px;
    height: calc(100dvh - 17px);
    background-color: #F6F6F4;
    margin-top: 17px;
    border-radius: 0px 24px 0px 0;
    transition: all 0.35s;
    padding: 3.125rem;
    padding-top: 8.5rem;
    padding-left: 2.313rem;
}

.sidebarWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.linksWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2.125rem;
}

.subPages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.125rem;
    
}

.pageLink {
    color: #5D5D67;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    transition: all 0.35s;

}

.subPageLink{
    margin-top: 18px;
    color: #5D5D67;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    margin-left: 50px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.35s;
    animation: showSubLinks 1s;
}

.subPageLink:hover{
    color: #000;
    transform: translateX(5px);
}

.iconStyle{
    width: 1.5rem;
    height: 100%;
}

.linkActive{
    color: #000;
    font-weight: 700;
}

.sublinkActive{
    background-color: #fff;
    border-radius: 50px;
    padding:  12px 20px;
    color: #000;
}

@keyframes showSubLinks {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}